html(lang="en")
  head
    title= 'Homepage'
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/skeleton-framework/1.1.1/skeleton.min.css')
  body
    h3 Welcome, #{message}

    h4='Sign In'
    form(action='/login', method='post')
        label Username:
        input(type='text', name='username')
        label Password:
        input(type='password', name='password')
        br
        input(type='submit', value='Log In')

    h4='Register'
    form(action='/register', method='post')
      label Username:
      input(type='text', name='username')
      label Name:
      input(type='text', name='name')
      label Bio:
      input(type='text', name='bio')
      label Image URL:
      input(type='text', name='pic')
      label Password:
      input(type='password', name='password')
      br
      input(type='submit', value='Register')